<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
        <nav class="navbar-fixed-top navbar-expand-lg navbar-light ">
        <div class="navbar-nav navbar-fixed-top">
          <a class="nav-item nav-link" href="{{ url_for('home') }}"><h6>HOME</h6></a>
          <a class="nav-item nav-link" href="{{ url_for('insert') }}"><h6>INSERT</h6></a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <h6>SEARCH</h6>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-item nav-link" href="{{ url_for('search_by_title') }}"><h6>TITLE</h6></a>
              <div class="dropdown-divider"></div>
              <a class="nav-item nav-link" href="{{ url_for('search_by_author') }}"><h6>AUTHOR</h6></a>
              <div class="dropdown-divider"></div>
              <a class="nav-item nav-link" href="{{ url_for('search_by_quantity') }}"><h6>QUANTITY</h6></a>
              <div class="dropdown-divider"></div>
              <a class="nav-item nav-link" href="{{ url_for('search_by_price') }}"><h6>PRICE</h6></a>

            </div>
          </li>
        </nav>
      </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
